{{- if .Values.rbac.create }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "graph-node.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "graph-node.labels" . | nindent 4 }}
rules:
{{- toYaml .Values.rbac.rules | nindent 0 }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "graph-node.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "graph-node.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "graph-node.serviceAccountName" . }}
subjects:
  - kind: ServiceAccount
    name: {{ include "graph-node.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
{{- end }}
