{{- $values := $.Values }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "subgraph-availability-oracle.fullname" . }}-headless
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "subgraph-availability-oracle.labels" . | nindent 4 }}
    {{- with $values.extraLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  clusterIP: None # Headless service
  ports: []
  selector:
    {{- include "subgraph-availability-oracle.selectorLabels" . | nindent 4 }}
---
apiVersion: v1
kind: Service
metadata:
  {{- if $values.service.topologyAwareRouting.enabled }}
  annotations:
    service.kubernetes.io/topology-aware-hints: "auto"
  {{- end }}
  name: {{ include "subgraph-availability-oracle.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "subgraph-availability-oracle.labels" . | nindent 4 }}
    {{- with $values.extraLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    serviceMonitorTarget: "true"  # Additional label to prevent matching the headless service above
spec:
  type: {{ $values.service.type }}
  ports:
  {{- range $portName, $portNumber := $values.service.ports }}
    - port: {{ $portNumber }} # the port we expose on the Service, user configurable
      targetPort: {{ $portName }} # the name of the port on the container that we are routing to
      protocol: TCP
      name: {{ $portName }}
  {{- end }}
  selector:
    {{- include "subgraph-availability-oracle.selectorLabels" . | nindent 4 }}
