{{- $values := $.Values.lighthouse }}
{{- $componentName := "lighthouse" }}
{{- $componentLabel := include "common.labels.componentLabelFor" $componentName }}

{{- $jwtEnabled := or $values.jwt.existingSecret $values.jwt.fromLiteral }}
{{- $jwtSecretName := default (print (include "common.names.fullname" .) "-" $componentName "-jwt") $values.jwt.existingSecret.name }}
{{- $jwtSecretKey := default "jwt.hex" $values.jwt.existingSecret.key }}

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "common.names.fullname" . }}-{{ $componentName }}
  labels:
    {{- include "common.labels.sharedLabels" . | nindent 4 }}
    {{- $componentLabel | nindent 4 }}
spec:
  serviceName: {{ include "common.names.fullname" . }}-{{ $componentName }}-headless
  replicas: {{ include "lighthouse.replicas" $values }}
  selector:
    matchLabels:
      {{- include "common.labels.selectorLabels" . | nindent 6 }}
      {{- $componentLabel | nindent 6 }}
  volumeClaimTemplates:
    - metadata:
        name: storage
      spec:
        {{- toYaml $values.volumeClaimSpec | nindent 8 }}
  template:
    metadata:
      {{- with $values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "common.labels.selectorLabels" . | nindent 8 }}
        {{- $componentLabel | nindent 8 }}
        {{- with $values.extraLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with $values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "common.names.serviceAccountName" . }}
      {{- with $values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      terminationGracePeriodSeconds: {{ $values.terminationGracePeriodSeconds | default "60" }}
      volumes:
        - name: tmp # this is to provide a writable /tmp even with securityContext.readOnlyRootFilesystem=true
          emptyDir: {}
      {{- if $jwtEnabled }}
        - name: jwt
          secret:
            secretName: {{ $jwtSecretName }}
            items:
              - key: {{ $jwtSecretKey }}
                path: jwt.hex
      {{- end }}
      {{- if $values.p2pHostPort.enabled }}
        - name: env-external-endpoint
          emptyDir: {}
      {{- end }}
      initContainers:
      {{- if $values.p2pHostPort.enabled }}
        - name: init-external-endpoint
          image: "{{ $values.p2pHostPort.initContainer.image.repository }}:{{ $values.p2pHostPort.initContainer.image.tag }}"
          imagePullPolicy: {{ $values.p2pHostPort.initContainer.image.pullPolicy }}
          securityContext:
            runAsNonRoot: false
            runAsUser: 0
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          command:
            - sh
            - -c
            - |
              set -ex;
              #export EXTERNAL_IP=$(kubectl get nodes "${NODE_NAME}" -o jsonpath='{.status.addresses[?(@.type=="ExternalIP")].address}');
              export EXTERNAL_IP=${EXTERNAL_IP:-$(curl --silent v4.ident.me)};
              echo "EXTERNAL_IP=$EXTERNAL_IP"     > /env/init-external-endpoint;
              cat /env/init-external-endpoint;
          volumeMounts:
            - name: env-external-endpoint
              mountPath: /env
      {{- end }}
      {{- if $values.initChownData.enabled }}
        - name: init-chown-data
          image: "{{ $values.initChownData.image.repository }}:{{ $values.initChownData.image.tag }}"
          imagePullPolicy: {{ $values.initChownData.image.pullPolicy }}
          securityContext:
            runAsNonRoot: false
            runAsUser: 0
          command:
            - sh
            - -ac
            - |
              set -ex;
              chown -R {{ $values.podSecurityContext.runAsUser }}:{{ $values.podSecurityContext.runAsGroup }} /storage;
              chmod -R 700 /storage; # lighthouse expects 700 permissions
              ls -lah /storage
          volumeMounts:
            - name: storage
              mountPath: "/storage"
      {{- end }}
      containers:
        - name: {{ $componentName }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          securityContext:
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
          command:
            - sh
            - -ac
            - |
            {{- if $values.p2pHostPort.enabled }}
              . /env/init-external-endpoint;
            {{- end }}
              set -ex;
              exec lighthouse beacon_node \
                --datadir=/storage \
              {{- if $values.executionClientUrl }}
                --execution-endpoint={{ $values.executionClientUrl }} \
              {{- end }}
                --disable-enr-auto-update \
              {{- if $values.p2pHostPort.enabled }}
                --enr-address=$EXTERNAL_IP \
                --enr-udp-port={{ $values.p2pHostPort.port }} \
                --enr-tcp-port={{ $values.p2pHostPort.port }} \
              {{- end }}
                --port={{ include "lighthouse.port" $values }} \
                --discovery-port={{ include "lighthouse.discoveryPort" $values }} \
                --quic-port={{ include "lighthouse.quicPort" $values }} \
                --http \
                --http-port={{ index $values.service.ports "http-lighthouse" }} \
                --listen-address=0.0.0.0 \
              {{- if $jwtEnabled }}
                --execution-jwt=/jwt/jwt.hex \
              {{- end }}
                --metrics=true \
                --metrics-address=0.0.0.0 \
                --metrics-port={{ index $values.service.ports "http-metrics" }} \
              {{- range $arg := $values.extraArgs }}
                {{- $arg | nindent 16 }} \
              {{- end }}
          ports:
            - name: http-lighthouse
              containerPort: {{ index $values.service.ports "http-lighthouse" }}
              protocol: TCP
            - name: http-metrics
              containerPort: {{ index $values.service.ports "http-metrics" }}
              protocol: TCP
            - name: tcp-transport
              containerPort: {{ include "lighthouse.port" $values }}
              {{- if $values.p2pHostPort.enabled }}
              hostPort: {{ include "lighthouse.port" $values }}
              {{- end }}
              protocol: TCP
            - name: udp-discovery
              containerPort: {{ include "lighthouse.discoveryPort" $values }}
              {{- if $values.p2pHostPort.enabled }}
              hostPort: {{ include "lighthouse.discoveryPort" $values }}
              {{- end }}
              protocol: UDP
            - name: udp-transport
              containerPort: {{ include "lighthouse.quicPort" $values }}
              {{- if $values.p2pHostPort.enabled }}
              hostPort: {{ include "lighthouse.quicPort" $values }}
              {{- end }}
              protocol: UDP
          volumeMounts:
            {{- if $values.p2pHostPort.enabled }}
            - name: env-external-endpoint
              mountPath: /env
            {{- end }}
            {{- if $jwtEnabled }}
            - name: jwt
              mountPath: /jwt
            {{- end }}
            - name: storage
              mountPath: /storage
            - name: tmp
              mountPath: /tmp
          readinessProbe:
            tcpSocket:
              port: tcp-transport
            initialDelaySeconds: 10
            periodSeconds: 10
          {{- with $values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with $values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if or $values.affinity $values.affinityPresets.antiAffinityByHostname }}
      affinity:
      {{- with $values.affinity }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if $values.affinityPresets.antiAffinityByHostname }}
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/instance
                  operator: In
                  values:
                  - {{ $.Release.Name }}
                - key: app.kubernetes.io/component
                  operator: In
                  values:
                  - {{ $componentName }}
              topologyKey: "kubernetes.io/hostname"
      {{- end }}
      {{- end }}
      {{- with $values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
