myComponent:
  __enabled: true
  workload:
    __enabled: true
    kind: Deployment
    spec:
      selector:
        matchLabels:
          app: test-workload
      template:
        metadata:
          labels:
            app: test-workload
        spec:
          containers:
            main:
              name: main
              image: "alpine:3.23"
      replicas: 2

myComponentDefaults: {}
