{{- $values := mergeOverwrite (deepCopy .Values.indexerDefaults) (deepCopy .Values.indexerAgent) }}
{{- $componentName := "agent" }}
{{- $componentLabel := include "graph-network-indexer.componentLabelFor" $componentName }}
{{- /* If serviceMonitors enabled in chart-wide values */ -}}
{{- if $.Values.prometheus.serviceMonitors.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "graph-network-indexer.fullname" . }}-{{ $componentName }}
  labels:
    {{- include "graph-network-indexer.labels" . | nindent 4 }}
    {{- $componentLabel | nindent 4 }}
spec:
  jobLabel: "{{ .Release.Name }}"
  selector:
    matchLabels:
      {{- include "graph-network-indexer.selectorLabels" . | nindent 6 }}
      {{- $componentLabel | nindent 6 }}
  endpoints:
  - port: http-metrics
    {{- with .Values.prometheus.serviceMonitors.interval }}
    interval: {{ . }}
    {{- end }}
    {{- with .Values.prometheus.serviceMonitors.scrapeTimeout }}
    scrapeTimeout: {{ . }}
    {{- end }}
    honorLabels: true
    {{- if .Values.prometheus.serviceMonitors.relabelings }}
    relabelings:
    {{- toYaml .Values.prometheus.serviceMonitors.relabelings | nindent 8 }}
    {{- end }}
    {{- if .Values.prometheus.serviceMonitors.metricRelabelings }}
    metricRelabelings:
    {{- toYaml .Values.prometheus.serviceMonitors.metricRelabelings | nindent 8 }}
    {{- end }}
{{- end }}
