{{ $values := mergeOverwrite (deepCopy .Values.indexerDefaults) (deepCopy .Values.indexerAgent) }}
{{- $componentName := "agent" }}
{{- $componentLabel := include "graph-network-indexer.componentLabelFor" $componentName }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "graph-network-indexer.fullname" . }}-{{ $componentName }}-headless
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "graph-network-indexer.labels" . | nindent 4 }}
    {{- $componentLabel | nindent 4 }}
spec:
  clusterIP: None # Headless service
  ports:
  {{- range $portName, $portNumber := $values.service.ports }}
    - port: {{ $portNumber }} # the port we expose on the Service, user configurable
      targetPort: {{ $portName }} # the name of the port on the container that we are routing to
      protocol: TCP
      name: {{ $portName }}
  {{- end }}
  selector:
    {{- include "graph-network-indexer.selectorLabels" . | nindent 4 }}
    {{- $componentLabel | nindent 4 }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "graph-network-indexer.fullname" . }}-{{ $componentName }}
  namespace: {{ .Release.Namespace }}
  {{- if $values.service.topologyAwareRouting.enabled }}
  annotations:
    service.kubernetes.io/topology-aware-hints: "auto"
  {{- end }}
  labels:
    {{- include "graph-network-indexer.labels" . | nindent 4 }}
    {{- $componentLabel | nindent 4 }}
    serviceMonitorTarget: "true" # Additional label to prevent matching the headless service
spec:
  type: {{ $values.service.type }}
  ports:
  {{- range $portName, $portNumber := $values.service.ports }}
  - port: {{ $portNumber }} # the port we expose on the Service, user configurable
    targetPort: {{ $portName }} # the name of the port on the container that we are routing to
    protocol: TCP
    name: {{ $portName }}
  {{- end }}
  {{- if $values.metrics.enabled }}
  - port: {{ $values.metrics.port }}
    targetPort: http-metrics
    protocol: TCP
    name: http-metrics
  {{- end }}
  selector:
    {{- include "graph-network-indexer.selectorLabels" . | nindent 4 }}
    {{- $componentLabel | nindent 4 }}
